edit 0
    set name "{{ POLICY_NAME }}"
    set srcintf "{{ SRC_INTERFACE }}"
    set dstintf "{{ DST_INTERFACE }}"
    set srcaddr "{{ SRC_ADDRESS }}"
    set dstaddr "{{ DST_ADDRESS }}"
    set action {{ ACTION }}
    set schedule "always"
    set service "{{ SERVICE_NAME }}"
    set logtraffic all
    set fsso disable
{{ NEXT_ACTION }}
